In [123]:
import pandas as pd
data = pd.read_csv('academy_awards.csv', encoding = 'ISO-8859-1')
data.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
data.iloc[:,5:]

      Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10
0            NaN        NaN        NaN        NaN        NaN         NaN
1            NaN        NaN        NaN        NaN        NaN         NaN
2            NaN        NaN        NaN        NaN        NaN         NaN
3            NaN        NaN        NaN        NaN        NaN         NaN
4            NaN        NaN        NaN        NaN        NaN         NaN
5            NaN        NaN        NaN        NaN        NaN         NaN
6            NaN        NaN        NaN        NaN        NaN         NaN
7            NaN        NaN        NaN        NaN        NaN         NaN
8            NaN        NaN        NaN        NaN        NaN         NaN
9            NaN        NaN        NaN        NaN        NaN         NaN
10           NaN        NaN        NaN        NaN        NaN         NaN
11           NaN        NaN        NaN        NaN        NaN         NaN
12           NaN        NaN        NaN        NaN        NaN         NaN
13           NaN        NaN        NaN        NaN        NaN         NaN
14           NaN        NaN        NaN        NaN        NaN         NaN
15           NaN        NaN        NaN        NaN        NaN         NaN
16           NaN        NaN        NaN        NaN        NaN         NaN
17           NaN        NaN        NaN        NaN        NaN         NaN
18           NaN        NaN        NaN        NaN        NaN         NaN
19           NaN        NaN        NaN        NaN        NaN         NaN
20           NaN        NaN        NaN        NaN        NaN         NaN
21           NaN        NaN        NaN        NaN        NaN         NaN
22           NaN        NaN        NaN        NaN        NaN         NaN
23           NaN        NaN        NaN        NaN        NaN         NaN
24           NaN        NaN        NaN        NaN        NaN         NaN
25           NaN        NaN        NaN        NaN        NaN         NaN
26           NaN        NaN        NaN        NaN        NaN         NaN
27           NaN        NaN        NaN        NaN        NaN         NaN
28           NaN        NaN        NaN        NaN        NaN         NaN
29           NaN        NaN        NaN        NaN        NaN         NaN
...          ...        ...        ...        ...        ...         ...
10107        NaN        NaN        NaN        NaN        NaN         NaN
10108        NaN        NaN        NaN        NaN        NaN         NaN
10109        NaN        NaN        NaN        NaN        NaN         NaN
10110        NaN        NaN        NaN        NaN        NaN         NaN
10111        NaN        NaN        NaN        NaN        NaN         NaN
10112        NaN        NaN        NaN        NaN        NaN         NaN
10113        NaN        NaN        NaN        NaN        NaN         NaN
10114        NaN        NaN        NaN        NaN        NaN         NaN
10115        NaN        NaN        NaN        NaN        NaN         NaN
10116        NaN        NaN        NaN        NaN        NaN         NaN
10117        NaN        NaN        NaN        NaN        NaN         NaN
10118        NaN        NaN        NaN        NaN        NaN         NaN
10119        NaN        NaN        NaN        NaN        NaN         NaN
10120        NaN        NaN        NaN        NaN        NaN         NaN
10121        NaN        NaN        NaN        NaN        NaN         NaN
10122        NaN        NaN        NaN        NaN        NaN         NaN
10123        NaN        NaN        NaN        NaN        NaN         NaN
10124        NaN        NaN        NaN        NaN        NaN         NaN
10125        NaN        NaN        NaN        NaN        NaN         NaN
10126        NaN        NaN        NaN        NaN        NaN         NaN
10127        NaN        NaN        NaN        NaN        NaN         NaN
10128        NaN        NaN        NaN        NaN        NaN         NaN
10129        NaN        NaN        NaN        NaN        NaN         NaN
10130        NaN        NaN        NaN        NaN        NaN         NaN
10131        NaN        NaN        NaN        NaN        NaN         NaN
10132        NaN        NaN        NaN        NaN        NaN         NaN
10133        NaN        NaN        NaN        NaN        NaN         NaN
10134        NaN        NaN        NaN        NaN        NaN         NaN
10135        NaN        NaN        NaN        NaN        NaN         NaN
10136        NaN        NaN        NaN        NaN        NaN         NaN

[10137 rows x 6 columns]

In [125]:
for i in range(5,11):
    print(data.iloc[:, i].value_counts())

*                                                                                                               7
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 discoverer of stars                                                                                            1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 resilience                                                                                                     1
Name: Unnamed: 5, dtype: int64
*                                                                   9
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
 flexibility and water resistance                                   1
Name: Unnamed: 6, dtype: int64
 while requiring no dangerous solvents. [Systems]"    1
 kindly                                               1
*                                                     1
Name: Unnamed: 7, dtype: int64
 understanding comedy genius - Mack Sennett.""    1
*                                                 1
Name: Unnamed: 8, dtype: int64
*    1
Name: Unnamed: 9, dtype: int64
*    1
Name: Unnamed: 10, dtype: int64

In [126]:
data['Year'] = data['Year'].str[0:4]
data['Year'] = data['Year'].astype('int64')
data.head(2)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
later_than_2000 = data[data['Year'] > 2000]

In [128]:
award_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role', 'Actress -- Leading Role', 'Actress -- Supporting Role']

nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
replacements = { "NO": 0, "YES": 1 }
nominations["Won?"] = nominations["Won?"].map(replacements)

nominations['Won'] = nominations["Won?"]

drop_cols = ["Won?","Unnamed: 5", "Unnamed: 6","Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]
final_nominations = nominations.drop(drop_cols, axis=1)
final_nominations.head()

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

In [130]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

additional_info_two = additional_info_one.str.split(" {'")

movie_names = additional_info_two.str[0]

characters = additional_info_two.str[1]

final_nominations['Movie'] = movie_names

final_nominations['Character'] = characters

final_nominations = final_nominations.drop('Additional Info', axis = 1)

final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

In [131]:
import sqlite3

conn = sqlite3.connect('nominations.db')

final_nominations.to_sql('nominations_1', conn, index = False)

In [132]:
query_one = "pragma table_info(nominations_1);"
query_two = "select * from nominations_1 limit 10;"
print(conn.execute(query_one).fetchall())
print(conn.execute(query_two).fetchall())
conn.close()

[(0, 'Year', 'INTEGER', 0, None, 0), (1, 'Category', 'TEXT', 0, None, 0), (2, 'Nominee', 'TEXT', 0, None, 0), (3, 'Won', 'INTEGER', 0, None, 0), (4, 'Movie', 'TEXT', 0, None, 0), (5, 'Character', 'TEXT', 0, None, 0)]
[(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal'), (2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn'), (2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg'), (2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI'), (2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston'), (2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund'), (2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop'), (2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin'), (2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul'), (2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')]